@{
    ViewData["Title"] = "Obter Localização em Tempo Real";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
    <h1>Monitorar Localização em Tempo Real</h1>
    <button onclick="startWatching()">Iniciar Monitoramento</button>
    <button onclick="stopWatching()">Parar Monitoramento</button>
    
    <p>Latitude: <span id="latitudeDisplay">--</span></p>
    <p>Longitude: <span id="longitudeDisplay">--</span></p>

<script >
        
    </script>
</body>
</html>
